.App {
  /* text-align: center; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
input,
select {
  max-height: 38px;
}

.tableFix {
  min-height: 55px;
}

p,
input,
select,
label,
li {
  font-size: 0.9rem !important;
  line-height: 1.6;
  color: rgb(85, 85, 85);
}

label {
  font-weight: 500;
  color: #000;
}

h4,
h5 {
  font-weight: 100 !important;
}
